<h1>SpaceX details</h1>
<div class="spacextable">
    <table border="1px" style="border-color: red;">
        <tr>
            <th class="tbhd">Mission Name</th>
            <th class="tbhd">Missin Id</th>
            <th class="tbhd">Manufacturers</th>
            <th class="tbhd">Paylod ids</th>
            <th class="tbhd">Wikipedia</th>
            <th class="tbhd">Website</th>
            <th class="tbhd">Twitter</th>
            <th class="tbhd">Description</th>
        </tr>
        <tr *ngFor="let item of data">
            <td class="tbdt">{{item.mission_name}}</td>
            <td class="tbdt">{{item.mission_id}}</td>
            <td class="tbdt">{{item.manufacturers}}</td>
            <td class="tbdt">{{item.payload_ids}}</td>
            <td class="tbdt">{{item.wikipedia}}</td>
            <td class="tbdt">{{item.website}}</td>
            <td class="tbdt">{{item.twitter}}</td>
            <td class="tbdt">{{item.description}}</td>
        </tr>
    </table>
</div>